<%= bootstrap_devise_error_messages! %>
<div class="panel panel-default devise-bs">
  <h2 class="sb-title"><%= t('.resend_confirmation_instructions', default: 'Resend confirmation instructions') %></h2>

  <div class="panel-body">
    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, role: 'form' }) do |f| %>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, class: "form-control"  %>
      </div>

      <div class="panel-footer">
        <%= f.submit t('.resend_confirmation_instructions', default: 'Resend confirmation instructions'), class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>

<%= render 'devise/shared/links' %>
