<div class="panel panel-default list">
  <div class="table-responsive">
    <table class="table table-striped table-hover table-condensed">
      <thead>
        <tr>
          <th class="sorters">#</th>
          <th><%= Sale.human_attribute_name('shopper') %></th>
          <th><%= Sale.human_attribute_name('product') %></th>
          <th><%= Sale.human_attribute_name('price') %></th>
          <th><%= Sale.human_attribute_name('amount') %></th>
          <th><%= Sale.human_attribute_name('address') %></th>
          <th><%= Sale.human_attribute_name('supplier') %></th>
          <th class="actions">
            <%= link_to t('buttons.import'), import_sales_path, class: 'btn btn-xs btn-success' %>
            <%= link_to t('buttons.new'), new_sale_path, class: 'btn btn-xs btn-primary' %>
          </th>
        </tr>
      </thead>
      <tbody>
        <% @sales.each_with_index do |sale, index| %>
        <tr>
          <th class="sorters text-info"><%= row_number(index, @sales.limit_value) %></th>
          <td><%= sale.shopper.name %></td>
          <td><%= sale.product.name %></td>
          <td class="text-right"><%= sale.price.format(:symbol => false) %></td>
          <td class="text-right"><%= sale.amount %></td>
          <td><%= sale.address %></td>
          <td><%= sale.supplier.name %></td>
          <td class="actions">
            <div class="btn-group btn-group-xs">
              <%= link_to edit_sale_path(sale), class: 'btn btn-default' do %>
                <span class="glyphicon glyphicon-edit text-info" aria-hidden="true"></span>
              <% end %>
              <%= link_to sale, method: :delete, data: { confirm: t('messages.confirm') }, class: 'btn btn-default' do %>
                <span class="glyphicon glyphicon-trash text-danger" aria-hidden="true"></span>
              <% end %>
            </div>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="panel-footer clearfix">
    <p class="pagination-info"><%= page_entries_info @sales %></p>
    <%= paginate @sales, window: 1 %>
  </div>
</div>

<div class="form-group has-success">
  <div class="input-group">
    <span class="input-group-addon"><strong><%= t('labels.total') %></strong></span>
    <%= text_field_tag @total, @total.format(:symbol => false), class: 'form-control bg-success', disabled: 'disabled' %>
  </div>
</div>
